/******************************************
*  Author : Author   
*  Created On : Fri Jul 17 2020
*  File : styles2.css
*******************************************/

body{
    margin: 30px;
    padding: 0px;
}

#chordlist{
    background-color: blanchedalmond;
    padding: 20px;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
}

.chord{
    margin: 2px;
    padding: 6px;
    border-radius: 8px;
    color: black;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    border-color: black;
}

.chord:hover{
    background-color: darkgray;
}

.sev{
    margin: 2px;
    padding: 6px;
    border-radius: 8px;
    background-color: rgb(206, 186, 243);
    padding-left: 20px;
    padding-right: 20px;
}

.min-chord{
    margin: 2px;
    padding: 6px;
    border-radius: 8px;
    background-color: aqua;
    padding-left: 20px;
    padding-right: 20px;
}

.min-chord:hover{
    background-color: darkgrey;
}

.maj-chord{
    margin: 2px;
    padding: 6px;
    border-radius: 8px;
    background-color: rgb(53, 218, 163);
    padding-left: 30px;
    padding-right: 30px;
}

.maj-chord:hover{
    background-color: darkgrey;
}

.tle{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 400%;
    border-radius: 30px;
    background-color: lightcoral;
    text-align: center;
    margin-left: 25%;
    margin-top: 40px;
    width: 50%;
    color: rgb(157, 132, 204);
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

#guit{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    padding: 4px;
    background-color: blanchedalmond;
}

.minorbutton{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    float:left;
    margin: 20px;
    border-radius: 12px;
    background-color: aqua;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: black;
}

.majorbutton{
    font-family: 'Roboto', sans-serif;
    background-color: lightcoral;
    font-size: 20px;
    float:right;
    margin: 20px;
    border-radius: 12px;
    background-color: rgb(53, 218, 163);
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: black;
}

.progression{
    padding:40px;
    background-color: white;
    margin: 45px;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    float: left;
    width: 96%;
}

.ch > button{
    background-color: aquamarine;
    border-radius: 10px;
    position: relative;
    margin: 0px;
    padding: 6px;
    top: 85px;
    right: 50px;
}

.ch{
    float: left;
}